<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite"  >
    <test  name="Default test" verbose="2">
    <classes>
      <class name="com.nestadmin.FirstAutoSel"/>  
    </classes>
  </test> <!-- Default test -->
  
  <test  name="Default test1" verbose="3">
    <classes>   
      <class name="com.nestadmin.NestExtentReportsClass"/>
    </classes>
  </test> <!-- Default test -->
    
</suite> <!-- Suite -->
